@charset "UTF-8";
.waypoint-bottom-to-top {
  opacity: 0;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -moz-transform: translateY(60px);
  -ms-transform: translateY(60px);
  -webkit-transform: translateY(60px);
  transform: translateY(60px);
}
.waypoint-bottom-to-top.waypoint-active {
  opacity: 1;
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

.waypoint-left-to-right {
  opacity: 0;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -moz-transform: translatex(-60px);
  -ms-transform: translatex(-60px);
  -webkit-transform: translatex(-60px);
  transform: translatex(-60px);
}
.waypoint-left-to-right.waypoint-active {
  opacity: 1;
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}

.waypoint-right-to-left {
  opacity: 0;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -moz-transform: translatex(60px);
  -ms-transform: translatex(60px);
  -webkit-transform: translatex(60px);
  transform: translatex(60px);
}
.waypoint-right-to-left.waypoint-active {
  opacity: 1;
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}

.waypoint-fade {
  opacity: 0.3;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.waypoint-fade.waypoint-active {
  opacity: 1;
}

.anim-time-long {
  -moz-transition: all 0.8s ease 0.3s;
  -o-transition: all 0.8s ease 0.3s;
  -webkit-transition: all 0.8s ease;
  -webkit-transition-delay: 0.3s;
  transition: all 0.8s ease 0.3s;
}

.anim-time-medium {
  -moz-transition: all 0.8s ease 0.1s;
  -o-transition: all 0.8s ease 0.1s;
  -webkit-transition: all 0.8s ease;
  -webkit-transition-delay: 0.1s;
  transition: all 0.8s ease 0.1s;
}

.anim-time-short {
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

body {
  font-size: 16px;
  font-style: normal;
  color: #3F3F3F;
  margin-left: 0px;
  max-width: 100%;
  overflow-x: hidden;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-transform: translate3d(0 0 0);
  -ms-transform: translate3d(0 0 0);
  -webkit-transform: translate3d(0 0 0);
  transform: translate3d(0 0 0);
  -moz-transition: margin-left 0.3s ease;
  -o-transition: margin-left 0.3s ease;
  -webkit-transition: margin-left 0.3s ease;
  transition: margin-left 0.3s ease;
}
body.menu-open {
  margin-left: -200px;
}

h1 {
  font-size: 2em;
  padding-bottom: 0.9em;
}

h2 {
  font-size: 1.6em;
  padding-bottom: 0.8em;
}

h3 {
  font-size: 1.4em;
  padding-bottom: 0.3em;
  margin-bottom: 0;
}

h4, h5, h6 {
  font-size: 1.2em;
  padding-bottom: 0.5em;
}

p,
.jumbotron p {
  font-size: 1.15em;
  line-height: 1.25em;
  padding-bottom: 0.5em;
}

a {
  text-decoration: none !important;
  color: #333333;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
a:hover {
  color: #699EBF;
}

img {
  max-width: 100%;
  height: auto;
}

.page-content {
  min-height: 82vh;
}

.jumbotron {
  margin-bottom: 0px !important;
}

.table {
  display: table;
  margin-bottom: 0;
}
.table .table-cell {
  display: table-cell;
  vertical-align: middle;
}

.added-to-cart-message {
  display: none;
}
.added-to-cart-message.active {
  display: block;
}

.image-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: 0.6;
}

.text-center {
  text-align: center;
}

.linked_buttons {
  margin-top: 1.5em;
}
.linked_buttons a {
  padding: 0.6em 0.8em;
  border-radius: 4px;
  text-align: center;
  border: solid #D8DACC 1px;
  background-color: #efefef;
  text-transform: uppercase;
  opacity: 0.7;
}

.opacity-lighten {
  opacity: 0.8;
}

.slick-arrow,
.slick-dots {
  display: none !important;
}

.uniform-col-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.row.uniform-col-height {
  margin-right: 0;
}
.row.uniform-col-height div {
  background-size: cover;
  background-position: center;
}

.nav-fixed-top {
  display: block;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  padding: 0em 6em;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-bottom: solid 1px #eee;
}
.nav-fixed-top.active {
  background-color: white;
}
.nav-fixed-top.active .company-logo {
  line-height: 60px;
  height: 50px;
}
.nav-fixed-top.active ul.sub-menu {
  top: 60px;
}
.nav-fixed-top.active ul li {
  line-height: 60px;
}
.nav-fixed-top .company-logo {
  display: inline-block;
  line-height: 80px;
  height: 60px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.nav-fixed-top .company-logo img {
  height: 100%;
  width: auto;
}
.nav-fixed-top .nav-fixed-top-inner {
  float: right;
}
.nav-fixed-top ul {
  padding: 0;
  margin-bottom: 0;
}
.nav-fixed-top ul li {
  display: inline-block;
  width: auto;
  line-height: 80px;
  padding: 0 1em;
  position: relative;
  -moz-transition: line-height 0.3s ease;
  -o-transition: line-height 0.3s ease;
  -webkit-transition: line-height 0.3s ease;
  transition: line-height 0.3s ease;
}
.nav-fixed-top ul li.menu-item-has-children:after {
  content: "";
  font-size: 0.6em;
  vertical-align: middle;
  padding-left: 5px;
  font-family: FontAwesome;
  width: auto;
  height: auto;
  display: inline-block;
}
.nav-fixed-top ul li ul.sub-menu {
  position: absolute;
  padding: 1em 1em 1em 0;
  margin-left: 0;
  top: 80px;
  min-width: 170px;
  background-color: #eeeeee;
  opacity: 0;
  pointer-events: none;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
}
.nav-fixed-top ul li ul.sub-menu.sub-menu-active {
  opacity: 1;
  pointer-events: inherit;
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}
.nav-fixed-top ul li ul.sub-menu li {
  display: block;
  width: auto;
  line-height: 2em;
}

.off-canvas-menu {
  background-color: #efefef;
  display: inline-block;
  height: 100%;
  position: fixed;
  top: 0px;
  right: -240px;
  max-width: 240px;
  z-index: 999;
  border-left: solid 1px #D8DACC;
  -moz-transition: right 0.3s ease;
  -o-transition: right 0.3s ease;
  -webkit-transition: right 0.3s ease;
  transition: right 0.3s ease;
}
.off-canvas-menu.off-canvas-menu-active {
  right: 0px;
}
.off-canvas-menu .off-canvas-menu-opener {
  width: 50px;
  height: 50px;
  background: #D8DACC;
  position: absolute;
  left: -50px;
  top: 40px;
  cursor: pointer;
}
.off-canvas-menu .off-canvas-menu-opener .off-canvas-nav-opener-bar, .off-canvas-menu .off-canvas-menu-opener .off-canvas-nav-opener-bar-one, .off-canvas-menu .off-canvas-menu-opener .off-canvas-nav-opener-bar-two, .off-canvas-menu .off-canvas-menu-opener .off-canvas-nav-opener-bar-three {
  position: absolute;
  top: 10px;
  left: 12.5px;
  width: 26px;
  height: 3px;
  border-radius: 30%;
  opacity: 0.7;
  background-color: #3F3F3F;
}
.off-canvas-menu .off-canvas-menu-opener .off-canvas-nav-opener-bar-one {
  top: 15px;
}
.off-canvas-menu .off-canvas-menu-opener .off-canvas-nav-opener-bar-two {
  top: 23px;
}
.off-canvas-menu .off-canvas-menu-opener .off-canvas-nav-opener-bar-three {
  top: 31px;
}

.off-canvas-nav ul {
  margin: 0px;
  padding: 40px 0;
}
.off-canvas-nav ul li {
  list-style: none;
  display: block;
  line-height: 1.95em;
  font-size: 0.9em;
}
.off-canvas-nav ul li.menu-item-has-children:after {
  content: "";
  float: right;
  display: inline-block;
}
.off-canvas-nav ul li a {
  text-decoration: none;
  color: #555;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 600;
  width: 100%;
  min-width: 240px;
  display: inline-block;
  padding: 0 40px;
}
.off-canvas-nav .sub-menu {
  padding: 0;
  height: 0px;
  overflow: hidden;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.off-canvas-nav .sub-menu.sub-menu-active {
  height: auto;
}

footer.jumbotron {
  margin-bottom: 0;
}

.footer-copyright {
  text-align: left;
  font-size: 0.75em;
}
@media screen and (max-width: 768px) {
  .footer-copyright {
    text-align: center;
  }
}

.footer-social-media {
  text-align: center;
}
.footer-social-media a {
  padding: 0 5px;
  text-decoration: none;
  color: #333333;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.footer-social-media a:hover {
  color: #699EBF;
}

.footer-back-to-top {
  text-align: right;
  font-size: 0.75em;
}
@media screen and (max-width: 768px) {
  .footer-back-to-top {
    text-align: center;
  }
}

.list-blog-posts {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.sidebar h2 {
  margin-bottom: 0;
  padding-bottom: 1vh;
  margin-top: 0;
}
.sidebar ul {
  list-style: none;
  padding-left: 0;
}
.sidebar ul li {
  list-style: none;
  line-height: 1.6em;
}
.sidebar ul li ul li::before {
  content: "";
  font-family: FontAwesome;
  font-size: 0.75em;
  vertical-align: middle;
  padding-right: 5px;
}

.blog-posts {
  padding: 5vh 0;
}
.blog-posts .featured-image {
  background-size: cover;
  background-position: 50%;
  opacity: 0.8;
}
.blog-posts .post-excerpt {
  margin-bottom: 5vh;
  min-height: 226px;
}
.blog-posts .post-category {
  background-color: #699EBF;
}
.blog-posts .post-read-more {
  background-color: #699EBF;
}
.blog-posts img {
  border-radius: 5px;
}
.blog-posts h2 {
  margin-top: 0px;
}
.blog-posts h3 {
  padding-bottom: 0;
}

.image-banner {
  text-align: center;
  margin-bottom: 0;
}
.image-banner .jumbotron {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.image-banner .table.banner-text-container {
  height: auto;
  min-height: 50vh;
  position: relative;
  z-index: 2;
  color: #efefef;
}
.image-banner .table.banner-text-container h1 {
  padding-bottom: 10px;
}

.blog .image-banner .table.banner-text-container,
.post-type-archive-product .image-banner .table.banner-text-container {
  padding-top: 8vh;
  min-height: 40vh;
}

.call-to-action {
  background-position: center;
  background-size: cover;
}
.call-to-action .text-content {
  padding: 2.5em 2em;
}

.latest-products {
  padding: 10vh 0;
}

.contact-form {
  padding: 5vh 0;
}
.contact-form input,
.contact-form textarea {
  border: none;
  border-bottom: solid 1px #efefef;
  outline: none;
  width: 100%;
}

.single-product .image-banner .table.banner-text-container {
  min-height: 25vh;
  padding-top: 8vh;
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
  width: auto;
}

.page-content .woocommerce {
  padding: 5vh 0;
}
.page-content .woocommerce ul {
  list-style: none;
}
.page-content .woocommerce ul li {
  list-style: none;
}

.product {
  margin-top: 5vh;
}
.product img {
  width: 100%;
}
.product .thumbnails {
  width: 33%;
}
