@charset "UTF-8";
.center-text {
  text-align: center;
}

.table {
  display: table;
  margin-bottom: 0;
}
.table .table-cell {
  display: table-cell;
  vertical-align: middle;
}

.image-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: 0.6;
}

.text-center {
  text-align: center !important;
}

.opacity-lighten {
  opacity: 0.8;
}

.uniform-col-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 992px) {
  .uniform-col-height {
    display: initial;
  }
  .uniform-col-height .background-image {
    min-height: 33vh;
  }
}

.row.uniform-col-height {
  margin-right: 0;
}
.row.uniform-col-height div {
  background-size: cover;
  background-position: center;
}

.remove-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.waypoint-bottom-to-top {
  opacity: 0;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -moz-transform: translateY(60px);
  -ms-transform: translateY(60px);
  -webkit-transform: translateY(60px);
  transform: translateY(60px);
}
.waypoint-bottom-to-top.waypoint-active {
  opacity: 1;
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

.waypoint-left-to-right {
  opacity: 0;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -moz-transform: translatex(-60px);
  -ms-transform: translatex(-60px);
  -webkit-transform: translatex(-60px);
  transform: translatex(-60px);
}
.waypoint-left-to-right.waypoint-active {
  opacity: 1;
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}

.waypoint-right-to-left {
  opacity: 0;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -moz-transform: translatex(60px);
  -ms-transform: translatex(60px);
  -webkit-transform: translatex(60px);
  transform: translatex(60px);
}
.waypoint-right-to-left.waypoint-active {
  opacity: 1;
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}

.waypoint-fade {
  opacity: 0.3;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.waypoint-fade.waypoint-active {
  opacity: 1;
}

.anim-time-long {
  -moz-transition: all 0.8s ease 0.3s;
  -o-transition: all 0.8s ease 0.3s;
  -webkit-transition: all 0.8s ease;
  -webkit-transition-delay: 0.3s;
  transition: all 0.8s ease 0.3s;
}

.anim-time-medium {
  -moz-transition: all 0.8s ease 0.1s;
  -o-transition: all 0.8s ease 0.1s;
  -webkit-transition: all 0.8s ease;
  -webkit-transition-delay: 0.1s;
  transition: all 0.8s ease 0.1s;
}

.anim-time-short {
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

body {
  font-size: 16px;
  font-style: normal;
  color: #3F3F3F;
  margin-left: 0px;
  max-width: 100%;
  overflow-x: hidden;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-transform: translate3d(0 0 0);
  -ms-transform: translate3d(0 0 0);
  -webkit-transform: translate3d(0 0 0);
  transform: translate3d(0 0 0);
  -moz-transition: margin-left 0.3s ease;
  -o-transition: margin-left 0.3s ease;
  -webkit-transition: margin-left 0.3s ease;
  transition: margin-left 0.3s ease;
}
body.menu-open {
  margin-left: -200px;
}

h1 {
  font-size: 2em;
  padding-bottom: 0.6em;
}

h2 {
  font-size: 1.6em;
  padding-bottom: 0.5em;
  line-height: 1.3em;
}

h3 {
  font-size: 1.4em;
  padding-bottom: 0.3em;
  margin-bottom: 0;
}

h4, h5, h6 {
  font-size: 1.2em;
  padding-bottom: 0.2em;
}

p,
.jumbotron p {
  font-size: 1.15em;
  line-height: 1.5em;
  padding-bottom: 0.5em;
}

a {
  text-decoration: none !important;
  color: #333333;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
a:hover {
  color: #699EBF;
}

img {
  max-width: 100%;
  height: auto;
}

.page-content {
  min-height: 82vh;
}

.jumbotron {
  margin-bottom: 0px !important;
  background-color: #F0EEF1;
}

.added-to-cart-message {
  display: none;
}
.added-to-cart-message.active {
  display: block;
}

.linked-button {
  padding: 0.7em 1.3em;
  border-radius: 2px;
  text-align: center;
  display: inline-block;
  margin: 0.5em 0.5em 1em 0;
  text-transform: uppercase;
  opacity: 0.95;
  letter-spacing: 1px;
  background-color: transparent;
  font-weight: 400;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.linked-button.linked-button-light {
  border: solid #efefef 1px;
  color: #efefef;
}
.linked-button.linked-button-dark {
  border: solid #333333 1px;
  color: #333333;
}
.linked-button:hover {
  background-color: #efefef;
  color: #333333;
  font-weight: 400;
}
.linked-button:hover.linked-button-light {
  border: solid #efefef 1px;
  color: #333333;
  background-color: #efefef;
}
.linked-button:hover.linked-button-dark {
  color: #efefef;
  background-color: #333333;
}

.slick-arrow,
.slick-dots {
  display: none !important;
}

.scroll-indicator {
  border: solid 1px #efefef;
  display: inline-block;
  padding: 10px 12px;
  border-radius: 50%;
  -moz-transform: translateY(-5vh);
  -ms-transform: translateY(-5vh);
  -webkit-transform: translateY(-5vh);
  transform: translateY(-5vh);
}

.contact-form {
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.contact-form input,
.contact-form textarea {
  border: none;
  border-bottom: solid 1px #efefef;
  outline: none;
  width: 100%;
}

.nav-fixed-top {
  display: block;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  padding: 0 6em;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-bottom: solid 1px #eee;
}
.nav-fixed-top .company-logo {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 80px;
  width: auto;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.nav-fixed-top .company-logo img {
  height: 100%;
  width: auto;
}
.nav-fixed-top .nav-fixed-top-inner {
  float: right;
}
@media screen and (max-width: 992px) {
  .nav-fixed-top .nav-fixed-top-inner {
    display: none;
  }
}
.nav-fixed-top ul {
  padding: 0;
  margin-bottom: 0;
}
.nav-fixed-top ul li {
  display: inline-block;
  width: auto;
  line-height: 80px;
  padding: 0 1em;
  position: relative;
  -moz-transition: line-height 0.3s ease;
  -o-transition: line-height 0.3s ease;
  -webkit-transition: line-height 0.3s ease;
  transition: line-height 0.3s ease;
}
.nav-fixed-top ul li.menu-item-has-children:after {
  content: "";
  font-size: 0.6em;
  vertical-align: middle;
  padding-left: 5px;
  font-family: FontAwesome;
  width: auto;
  height: auto;
  display: inline-block;
}
.nav-fixed-top ul li ul.sub-menu {
  position: absolute;
  padding: 1em 1em 1em 0;
  margin-left: 0;
  top: 80px;
  min-width: 170px;
  background-color: #eeeeee;
  opacity: 0;
  pointer-events: none;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
}
.nav-fixed-top ul li ul.sub-menu.sub-menu-active {
  opacity: 1;
  pointer-events: inherit;
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}
.nav-fixed-top ul li ul.sub-menu li {
  display: block;
  width: auto;
  line-height: 2em;
}
.nav-fixed-top ul li ul.sub-menu li::after {
  display: none;
}
@media screen and (max-width: 992px) {
  .nav-fixed-top {
    padding: 0 2em;
    background-color: white;
  }
  .nav-fixed-top .company-logo {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 60px;
    width: auto;
  }
}
.nav-fixed-top.active {
  background-color: white;
}
.nav-fixed-top.active .company-logo {
  padding-top: 5px;
  padding-bottom: 5px;
  height: 60px;
  width: auto;
}
.nav-fixed-top.active ul.sub-menu {
  top: 60px;
}
.nav-fixed-top.active ul li {
  line-height: 60px;
}

.off-canvas-menu {
  background-color: #efefef;
  display: none;
  height: 100%;
  position: fixed;
  top: 0px;
  right: -240px;
  max-width: 240px;
  z-index: 999;
  border-left: solid 1px #D8DACC;
  -moz-transition: right 0.3s ease;
  -o-transition: right 0.3s ease;
  -webkit-transition: right 0.3s ease;
  transition: right 0.3s ease;
}
@media screen and (max-width: 992px) {
  .off-canvas-menu {
    display: inline-block;
  }
}
.off-canvas-menu.off-canvas-menu-active {
  right: 0px;
}
.off-canvas-menu .off-canvas-menu-opener {
  width: 53px;
  height: 61px;
  background: #D8DACC;
  position: absolute;
  left: -54px;
  top: 0px;
  cursor: pointer;
}
.off-canvas-menu .off-canvas-menu-opener .off-canvas-nav-opener-bar, .off-canvas-menu .off-canvas-menu-opener .off-canvas-nav-opener-bar-one, .off-canvas-menu .off-canvas-menu-opener .off-canvas-nav-opener-bar-two, .off-canvas-menu .off-canvas-menu-opener .off-canvas-nav-opener-bar-three {
  position: absolute;
  top: 10px;
  left: 12.5px;
  width: 26px;
  height: 3px;
  border-radius: 30%;
  opacity: 0.7;
  background-color: #3F3F3F;
}
.off-canvas-menu .off-canvas-menu-opener .off-canvas-nav-opener-bar-one {
  top: 20px;
}
.off-canvas-menu .off-canvas-menu-opener .off-canvas-nav-opener-bar-two {
  top: 28px;
}
.off-canvas-menu .off-canvas-menu-opener .off-canvas-nav-opener-bar-three {
  top: 36px;
}

.off-canvas-nav ul {
  margin: 0px;
  padding: 40px 0;
}
.off-canvas-nav ul li {
  list-style: none;
  display: block;
  line-height: 1.95em;
  font-size: 0.9em;
}
.off-canvas-nav ul li.menu-item-has-children:after {
  content: "";
  float: right;
  display: inline-block;
}
.off-canvas-nav ul li a {
  text-decoration: none;
  color: #555;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 600;
  width: 100%;
  min-width: 240px;
  display: inline-block;
  padding: 0 40px;
}
.off-canvas-nav .sub-menu {
  padding: 0;
  height: 0px;
  overflow: hidden;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.off-canvas-nav .sub-menu.sub-menu-active {
  height: auto;
}

footer.jumbotron {
  margin-bottom: 0;
}

.footer-copyright {
  text-align: left;
  font-size: 0.75em;
}
@media screen and (max-width: 480px) {
  .footer-copyright {
    text-align: center;
  }
}

.footer-social-media {
  text-align: center;
}
.footer-social-media a {
  padding: 0 5px;
  text-decoration: none;
  color: #333333;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.footer-social-media a:hover {
  color: #699EBF;
}

.footer-back-to-top {
  text-align: right;
  font-size: 0.75em;
}
@media screen and (max-width: 480px) {
  .footer-back-to-top {
    text-align: center;
  }
}

.list-blog-posts {
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.list-blog-posts .post-listing {
  padding-bottom: 5vh;
}

.sidebar h2 {
  margin-bottom: 0;
  padding-bottom: 1vh;
  margin-top: 0;
}
.sidebar ul {
  list-style: none;
  padding-left: 0;
}
.sidebar ul li {
  list-style: none;
  line-height: 1.6em;
}
.sidebar ul li ul li::before {
  content: "";
  font-family: FontAwesome;
  font-size: 0.75em;
  vertical-align: middle;
  padding-right: 5px;
}

.single-events .single-event-content {
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.single-events .event-details span {
  display: inline-block;
  margin-right: 8px;
}

.content-grid {
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.content-grid img {
  border-radius: 2px;
}

.image-banner {
  text-align: center;
  margin-bottom: 0;
}
.image-banner .jumbotron {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.image-banner .table.banner-text-container {
  height: auto;
  position: relative;
  min-height: 30vh;
  padding-top: 8vh;
  z-index: 2;
  color: #efefef;
}
.image-banner .table.banner-text-container h1 {
  padding-bottom: 10px;
}

.blog .image-banner .table.banner-text-container,
.post-type-archive-product .image-banner .table.banner-text-container {
  padding-top: 8vh;
  min-height: 40vh;
}

.flexible-content-grid {
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.flexible-content-grid .linked_buttons {
  text-align: center;
}

.hero-image .jumbotron {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
  color: #efefef;
  position: relative;
}
.hero-image .table {
  height: 80vh;
  position: relative;
}
.hero-image .table h1 {
  padding: 0.1em 0;
  margin: 0;
  font-size: 3em;
}
.hero-image .table h2 {
  font-size: 1.3em;
  letter-spacing: 0.05em;
  padding: 0 2em;
  font-weight: 300;
}
.hero-image .table .linked_buttons {
  padding-top: 2em;
}

.image-gallery {
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.image-gallery img {
  cursor: pointer;
}
.image-gallery .image-gallery-row {
  margin-bottom: 30px;
}
@media screen and (max-width: 480px) {
  .image-gallery .image-gallery-row .gallery-image {
    padding-bottom: 20px;
  }
}
.image-gallery .image-gallery-row .add-padding-bottom {
  padding-bottom: 20px;
}

.google-map {
  min-height: 50vh;
}
.google-map #map {
  min-height: 50vh;
}

.text-editor .jumbotron {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.events-calendar {
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.events-calendar h3 {
  margin-top: 0;
}
.events-calendar .event-listing {
  margin-bottom: 10vh;
}
@media screen and (max-width: 768px) {
  .events-calendar .event-listing {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .events-calendar .event-listing .event-date {
    padding: 0 30vw;
  }
}
.events-calendar .event-listing .event-month {
  background-color: #B2413B;
  text-align: center;
  line-height: 2em;
  color: #efefef;
  font-weight: bold;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
  padding-top: 5px;
}
.events-calendar .event-listing .event-month .calendar-ring {
  position: absolute;
  top: -8px;
  width: 8px;
  height: 15px;
  background-color: #ccc;
  border: solid 2px #fff;
  border-radius: 40%;
}
.events-calendar .event-listing .event-month .calendar-ring.one {
  left: -webkit-calc(50% - 15px);
  left: calc(50% - 15px);
}
.events-calendar .event-listing .event-month .calendar-ring.two {
  left: -webkit-calc(50% + 15px);
  left: calc(50% + 15px);
}
.events-calendar .event-listing .event-day {
  background-color: #efefef;
  text-align: center;
  font-size: 1.6em;
  line-height: 3em;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
@media screen and (max-width: 768px) {
  .events-calendar .event-listing .event-info {
    margin-top: 5vh;
    margin-bottom: 10vh;
  }
}

.lightbox-content {
  display: none;
}

.call-to-action {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.call-to-action .text-content {
  padding: 5em 2em;
}

.call-to-action-mobile .text-content {
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.call-to-action-mobile .background-image {
  min-height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.single-product .image-banner .table.banner-text-container {
  min-height: 25vh;
  padding-top: 8vh;
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
  width: auto;
}

.page-content .woocommerce {
  padding: 5vh 0;
}
.page-content .woocommerce ul {
  list-style: none;
}
.page-content .woocommerce ul li {
  list-style: none;
}

.product {
  margin-top: 5vh;
}
.product img {
  width: 100%;
}
.product .thumbnails {
  width: 33%;
}
