.waypoint-bottom-to-top {
  opacity: 0;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -moz-transform: translateY(60px);
  -ms-transform: translateY(60px);
  -webkit-transform: translateY(60px);
  transform: translateY(60px);
}
.waypoint-bottom-to-top.waypoint-active {
  opacity: 1;
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

.waypoint-left-to-right {
  opacity: 0;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -moz-transform: translatex(-60px);
  -ms-transform: translatex(-60px);
  -webkit-transform: translatex(-60px);
  transform: translatex(-60px);
}
.waypoint-left-to-right.waypoint-active {
  opacity: 1;
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}

.waypoint-right-to-left {
  opacity: 0;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -moz-transform: translatex(60px);
  -ms-transform: translatex(60px);
  -webkit-transform: translatex(60px);
  transform: translatex(60px);
}
.waypoint-right-to-left.waypoint-active {
  opacity: 1;
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}

.waypoint-fade {
  opacity: 0.3;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.waypoint-fade.waypoint-active {
  opacity: 1;
}

.anim-time-long {
  -moz-transition: all 0.8s ease 0.3s;
  -o-transition: all 0.8s ease 0.3s;
  -webkit-transition: all 0.8s ease;
  -webkit-transition-delay: 0.3s;
  transition: all 0.8s ease 0.3s;
}

.anim-time-medium {
  -moz-transition: all 0.8s ease 0.1s;
  -o-transition: all 0.8s ease 0.1s;
  -webkit-transition: all 0.8s ease;
  -webkit-transition-delay: 0.1s;
  transition: all 0.8s ease 0.1s;
}

.anim-time-short {
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

body {
  font-size: 16px;
  font-style: normal;
  color: #3F3F3F;
  margin-left: 0px;
  max-width: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-transform: translate3d(0 0 0);
  -ms-transform: translate3d(0 0 0);
  -webkit-transform: translate3d(0 0 0);
  transform: translate3d(0 0 0);
  -moz-transition: margin-left 0.3s ease;
  -o-transition: margin-left 0.3s ease;
  -webkit-transition: margin-left 0.3s ease;
  transition: margin-left 0.3s ease;
}
body.menu-open {
  margin-left: -200px;
}

h1 {
  font-size: 2em;
  padding-bottom: 0.9em;
}

h2 {
  font-size: 1.6em;
  padding-bottom: 0.8em;
}

h3 {
  font-size: 1.4em;
  padding-bottom: 0.3em;
  margin-bottom: 0;
}

h4, h5, h6 {
  font-size: 1.2em;
  padding-bottom: 0.5em;
}

p,
.jumbotron p {
  font-size: 1.15em;
  line-height: 1.25em;
  padding-bottom: 0.5em;
}

a {
  text-decoration: none !important;
  color: #333333;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
a:hover {
  color: #699EBF;
}

img {
  max-width: 100%;
  height: auto;
}

.jumbotron {
  margin-bottom: 0px !important;
}

.table {
  display: table;
}
.table .table-cell {
  display: table-cell;
  vertical-align: middle;
}

.image-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: 0.6;
}

.uniform-col-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.row.uniform-col-height {
  margin-right: 0;
}
.row.uniform-col-height div {
  background-size: cover;
  background-position: center;
}

.off-canvas-menu {
  background-color: #efefef;
  display: inline-block;
  height: 100%;
  position: fixed;
  top: 0px;
  right: -240px;
  max-width: 240px;
  z-index: 999;
  border-left: solid 1px #D8DACC;
  -moz-transition: right 0.3s ease;
  -o-transition: right 0.3s ease;
  -webkit-transition: right 0.3s ease;
  transition: right 0.3s ease;
}
.off-canvas-menu.off-canvas-menu-active {
  right: 0px;
}
.off-canvas-menu .off-canvas-menu-opener {
  width: 50px;
  height: 50px;
  background: #D8DACC;
  position: absolute;
  left: -50px;
  top: 40px;
  cursor: pointer;
}
.off-canvas-menu .off-canvas-menu-opener .off-canvas-nav-opener-bar, .off-canvas-menu .off-canvas-menu-opener .off-canvas-nav-opener-bar-one, .off-canvas-menu .off-canvas-menu-opener .off-canvas-nav-opener-bar-two, .off-canvas-menu .off-canvas-menu-opener .off-canvas-nav-opener-bar-three {
  position: absolute;
  top: 10px;
  left: 12.5px;
  width: 26px;
  height: 3px;
  border-radius: 30%;
  opacity: 0.7;
  background-color: #3F3F3F;
}
.off-canvas-menu .off-canvas-menu-opener .off-canvas-nav-opener-bar-one {
  top: 15px;
}
.off-canvas-menu .off-canvas-menu-opener .off-canvas-nav-opener-bar-two {
  top: 23px;
}
.off-canvas-menu .off-canvas-menu-opener .off-canvas-nav-opener-bar-three {
  top: 31px;
}

.off-canvas-nav ul {
  margin: 0px;
  padding: 40px 0;
}
.off-canvas-nav ul li {
  list-style: none;
  display: block;
  line-height: 1.95em;
  font-size: 0.9em;
}
.off-canvas-nav ul li.menu-item-has-children:after {
  content: "";
  float: right;
  display: inline-block;
}
.off-canvas-nav ul li a {
  text-decoration: none;
  color: #555;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 600;
  width: 100%;
  min-width: 240px;
  display: inline-block;
  padding: 0 40px;
}
.off-canvas-nav .sub-menu {
  padding: 0;
  height: 0px;
  overflow: hidden;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.off-canvas-nav .sub-menu.sub-menu-active {
  height: auto;
}

footer.jumbotron {
  margin-bottom: 0;
}

.footer-copyright {
  text-align: left;
  font-size: 0.75em;
}
@media screen and (max-width: 768px) {
  .footer-copyright {
    text-align: center;
  }
}

.footer-social-media {
  text-align: center;
}
.footer-social-media a {
  padding: 0 5px;
  text-decoration: none;
  color: #333333;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.footer-social-media a:hover {
  color: #699EBF;
}

.footer-back-to-top {
  text-align: right;
  font-size: 0.75em;
}
@media screen and (max-width: 768px) {
  .footer-back-to-top {
    text-align: center;
  }
}

.blog-posts {
  padding: 5em 0;
}
.blog-posts .featured-image {
  height: 60vh;
  background-size: cover;
  background-position: 50%;
  opacity: 0.8;
}
.blog-posts .post-excerpt {
  height: 35vh;
  margin-bottom: 5vh;
  min-height: 226px;
}
.blog-posts .post-category {
  height: 20vh;
  background-color: #699EBF;
}
.blog-posts .post-read-more {
  height: 20vh;
  background-color: #699EBF;
}
.blog-posts img {
  border-radius: 5px;
}
.blog-posts h2 {
  margin-top: 0px;
}
.blog-posts h3 {
  padding-bottom: 0;
}

.image-banner {
  text-align: center;
  margin-bottom: 0;
}
.image-banner .jumbotron {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.image-banner .table.banner-text-container {
  height: auto;
  min-height: 40vh;
  position: relative;
  z-index: 2;
  color: #efefef;
}

.call-to-action .text-content {
  padding: 2.5em 2em;
}
