form
  // select
  //   -webkit-appearance:none

  input,
  textarea
    background-color: $off-white
    box-shadow: none
    border-radius: 2px
    border: none
    height: 2.5em
    padding: 0 10px
    width: 100%

  textarea
    min-height: 145px
    padding: 10px
    resize: none

  input[type="submit"]
    min-width: 25%
    max-width: 100%
    display: block
    margin: 0 auto
    background-color: $dark-grey
    text-transform: uppercase
    color: $white
    letter-spacing: 1px
    margin-top: 1em

    @media screen and ( max-width: $tablet )
      width: 100%

  select
    width: 100%
    background-color: $off-white
    height: 2.5em
    border: none

  p
    padding-bottom: 0

  .form-input
    margin-bottom: 1em

.widget-area
  form
    input
      background-color: $off-white
      box-shadow: none
      border-radius: 2px
      border: none
      height: 2.5em
      padding: 0 10px

    input[type="submit"]
      background-color: $dark-grey
      color: $white
      text-transform: uppercase

      @media screen and ( max-width: $tablet )
        display: block
        width: 100%

    #submit-search-form
      border: none
      background-color: $theme-primary
      color: $white
      cursor: pointer

.single-post-comments
  form
    input[type="submit"]
      background-color: $dark-grey
      color: $white
      text-transform: uppercase
      width: 50%
      display: inline-block
      margin: 3vh 0

      @media screen and ( max-width: $tablet )
        width: 100%

div.wpcf7-response-output
  border: none !important
