
body
  font-size: 16px
  font-style: normal
  color: $dark-grey
  margin-left: 0px
  max-width: 100%
  overflow-x: hidden
  backface-visibility: hidden
  -webkit-backface-visibility: hidden
  @include transform( translate3d(0 0 0) )
  @include transition( margin-left 0.3s ease )

  &.menu-open
    margin-left: -200px

h1
  font-size: 2em
  padding-bottom: 0.6em

h2
  font-size: 1.6em
  padding-bottom: 0.5em
  line-height: 1.3em

h3
  font-size: 1.4em
  padding-bottom: 0.3em
  margin-bottom: 0

h4, h5
  font-size: 1.2em
  padding-bottom: 0.2em

h6
  font-size: 0.9em
  padding-bottom: 0em
  line-height: 1.4em

p,
.jumbotron p
  font-size: 1.15em
  line-height: 1.5em
  padding-bottom: 0.5em

a
  text-decoration: none !important
  color: $body-copy
  @include transition( color 0.3s ease )

  &:hover
    color: $light-blue

img
  max-width: 100%
  height: auto

.page-content
  min-height: 82vh

.jumbotron
  margin-bottom: 0px !important
  background-color: #F0EEF1

.added-to-cart-message
  display: none

  &.active
    display: block

.linked-button
  padding: 0.7em 1.3em
  border-radius: 2px
  text-align: center
  display: inline-block
  margin: 0.5em 0.5em 1em 0
  text-transform: uppercase
  opacity: 0.95
  letter-spacing: 1px
  background-color: transparent
  font-weight: 400
  @include transition( all 0.3s ease )

  &.linked-button-light
    border: solid $white 1px
    color: $white

  &.linked-button-dark
    border: solid $body-copy 1px
    color: $body-copy

  &:hover
    background-color: $white
    color: $body-copy
    font-weight: 400

    &.linked-button-light
      border: solid $white 1px
      color: $body-copy
      background-color: $white

    &.linked-button-dark
      color: $white
      background-color: $body-copy


.slick-arrow,
.slick-dots
  display: none !important

.scroll-indicator
  border: solid 1px $white
  display: inline-block
  padding: 10px 12px
  border-radius: 50%
  @include transform( translateY(-5vh) )

form

  input[type="text"]
    background-color: $light-grey
