#menu-main-nav
  > .current-menu-parent,
  > .current-menu-item
    position: relative

    &::before
      content: ""
      width: 100%
      height: 5px
      background-color: $theme-primary
      position: absolute
      left: 0
      bottom: 0px
      border-right: 0.75em solid #fff
      border-left: 0.75em solid #fff

.top-nav-toolbar
  height: 40px
  background-color: #efefef
  position: fixed
  z-index: 999
  width: 100%
  padding: 0 7em 0 6em

  .toolbar-contact-info
    float: left
    line-height: 40px

    div
      display: inline-block
      margin-right: 1em

    a, i
      color: $theme-primary
      font-size: 0.8em

  .toolbar-social-links
    float: right
    border-right: solid 1px $light-grey

    a
      line-height: 40px
      padding: 0 1em
      display: inline-block
      border-left: solid 1px $light-grey
      color: $theme-primary

.fixed-top-menu
  display: block
  position: fixed
  top: 40px
  z-index: 999
  box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.2)
  border-top: solid 1px $light-grey
  background-color: rgba( 255,255,255,1 )
  width: 100%
  padding: 0 6em
  backface-visibility: hidden
  -webkit-backface-visibility: hidden
  @include transform( translate3d(0,0,0) )
  @include transition( all 0.3s ease )

  &.hide-top-toolbar
    top: 0

  .company-logo
    display: inline-block
    padding-top: 10px
    padding-bottom: 10px
    margin-top: 10px
    margin-bottom: 10px
    height: 60px
    width: auto
    @include transition( all 0.3s ease )

    a
      display: inline-block
      height: 40px
      @include transition( all 0.3s ease )

    img
      height: 100%
      width: auto
      vertical-align: inherit

  .fixed-top-menu-inner
    float: right

    @media screen and ( max-width: $laptop )
      display: none

  ul
    padding: 0
    margin-bottom: 0

    li
      display: inline-block
      width: auto
      line-height: 80px
      padding: 0 1em
      position: relative
      @include transition( line-height 0.3s ease )

      &.menu-item-has-children
        padding: 0 1.75em 0 1em

        > a
          &:after
            content: "\f078"
            font-size: 0.6em
            vertical-align: middle
            padding-left: 8px
            font-family: FontAwesome
            width: auto
            height: 10px
            position: absolute
            display: inline-block

      a
        color: $body-copy
        &:hover
          color: $body-copy

      ul.sub-menu
        position: absolute
        padding: 1em 1em 1em 0
        margin-left: 0
        top: 80px
        min-width: 170px
        background-color: #eeeeee
        opacity: 0
        pointer-events: none
        @include transition( all 0.25s ease )
        @include transform( translateY( 20px ) )
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2)
        left: 10px
        border-bottom-left-radius: 2px
        border-bottom-right-radius: 2px

        &.sub-menu-active
          opacity: 1
          pointer-events: inherit
          @include transform( translateY( 0px ) )

        li
          display: block
          width: auto
          line-height: 2em

          &::after
            display: none

  @media screen and ( max-width: $laptop )
    padding: 0 0 0 15px
    background-color: rgba( 255,255,255,1 )
    height: 60px
    top: 0

    .company-logo
      padding-top: 5px
      padding-bottom: 5px
      height: 40px
      width: auto

      a
        height: 30px

  &.active

    .company-logo
      padding-top: 5px
      padding-bottom: 5px
      height: 30px
      width: auto

      a
        height: 30px

    ul
      &.sub-menu
        top: 60px

      li
        line-height: 60px

.modal-menu-toggle
  width: 53px
  height: 60px
  background: transparent
  position: fixed
  z-index: 99999
  right: 0
  top: 0
  cursor: pointer
  @include transition( all 0.3s ease )

  &.active
    background-color: transparent

  .menu-toggle-bar
    position: absolute
    top: 10px
    left: 12.5px
    width: 26px
    height: 3px
    opacity: 0.7
    background-color: $dark-grey
    @include transition( all 0.3s ease )

    &.one
      top: 21px

      &.active
        @include transform( rotate( 135deg ) )
        top: 28px
        background-color: rgba( 255,255,255,0.8 )

    &.two
      top: 28px

      &.active
        opacity: 0

    &.three
      top: 35px

      &.active
        @include transform( rotate( -135deg ) )
        top: 28px
        background-color: rgba( 255,255,255,0.8 )

.modal-menu-overlay
  height: 125vh
  width: 100vw
  position: fixed
  z-index: 9998
  left: 0
  background-color: rgba( 0,0,0,0.4 )
  @include transition( top 0.3s ease )

  &.one
    top: -125vh

    &.active
      top: 0

  &.two
    top: 100vh
    background-color: rgba( 0,0,0,0.7 )

    &.active
      top: 0

.modal-menu-container
  display: none
  position: fixed
  height: 100vh
  z-index: 9999
  width: 100%
  margin: 0 auto
  text-align: center

  .modal-menu
    width: 80%
    margin: 0 auto
    display: table-cell
    vertical-align: middle

    ul
      list-style: none

      li
        list-style: none

        a
          font-size: 2em
          color: #fff

    .menu
      margin-left: 0
      padding-left: 0

      li
        opacity: 0
        @include transform( translateX(30px) )
        @include transition( all 0.4s ease )
        padding-bottom: 5px

        &.active
          opacity: 1
          @include transform( translateX(0px) )

      .sub-menu
        max-height: 0
        overflow: hidden
        padding-left: 0
        @include transition( max-height 0.4s ease)

        li
          font-size: 0.75em
          padding-top: 1em

        &.active
          max-height: 500px

          li
            opacity: 1
            @include transform( translateX(0px) )

  &.active
    display: table


.mobile-nav-toolbar
  opacity: 0
  @include transform( translateX(30px) )
  @include transition( all 0.4s ease )

  i, a
    color: $off-white

  .toolbar-contact-info
    padding-top: 10px
    border-top: solid 1px rgba( 255,255,255,0.3 )
    display: inline-block

  .email
    padding-bottom: 10px

  .phone
    padding-bottom: 10px

  .toolbar-social-links
    a
      font-size: 1.5em
      padding: 5px

  &.active
    opacity: 1
    @include transform( translateX(0px) )
