.news-feed

  .facebook
    .news-feed-header
      background-color: $facebook-blue

  .twitter
    .news-feed-header
      background-color: $twitter-blue

  .news-feed-header
    min-height: 200px
