.news-feed
  +content_row_padded()
  background-color: $white

  img
    border-top-left-radius: 3px
    border-top-right-radius: 3px

  .news-feed-item
    margin-bottom: 15px

    .facebook
      border: solid $off-white 2px
      border-radius: 5px

      .content
        margin-top: 10px
        padding: 10px

    .twitter
      border: solid $off-white 2px
      color: $white
      background-color: $twitter-blue
      border-radius: 5px

      a
        color: $white

        &:hover
          color: $white

      .content
        margin-top: 10px
        padding: 10px

    .post
      border: solid $off-white 2px
      border-radius: 5px

      .content
        margin-top: 10px
        padding: 10px
