.page-header
  text-align: center
  margin: 0
  padding-bottom: 0
  position: relative
  backface-visibility: hidden
  -webkit-backface-visibility: hidden
  @include transform( translate3d(0 0 0) )
  @include transition( margin-left 0.3s ease )

  .row
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    position: relative

  .table.banner-text-container
    padding-top: 60px
    height: auto
    position: relative
    z-index: 2
    color: $white
    min-height: 40vh

    h1
      padding-bottom: 10px
