.page-header
  margin: 0
  padding-bottom: 0
  position: relative
  backface-visibility: hidden
  -webkit-backface-visibility: hidden
  @include transform( translate3d(0 0 0) )
  @include transition( margin-left 0.3s ease )
  border-bottom: 0

  .row
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    position: relative

  .table
    &.banner-text-container
      height: auto
      position: relative
      z-index: 2
      color: $white
      min-height: 38vh

      .banner-text
        padding: 3vh 0

      h1
        padding-bottom: 0
        font-size: 3.2em

        @media screen and ( max-width: $laptop )
          font-size: 2.8em
