.call-to-action
  +background-cover
  background-color: $off-white

  .text-content
    padding: 5em 2em

.call-to-action-mobile

  .text-content
    +content-row-padded

  .background-image
    min-height: 50vh
    +background-cover
