.events-calendar
  +content-row-padded()

  h3
    margin-top: 0

  .event-listing
    margin-bottom: 15vh
    @media screen and ( max-width: $laptop )
      text-align: center

    .event-date
      @media screen and ( max-width: $laptop )
        padding: 0 30vw

    .event-month
      background-color: #B2413B
      text-align: center
      line-height: 2em
      color: $off-white
      font-weight: bold
      border-top-left-radius: 5px
      border-top-right-radius: 5px
      position: relative
      padding-top: 5px

      .calendar-ring
        position: absolute
        top: -8px
        width: 8px
        height: 15px
        background-color: #ccc
        border: solid 2px #fff
        border-radius: 40%

        &.one
          +calc( left, "50% - 15px" )

        &.two
          +calc( left, "50% + 15px" )

    .event-day
      background-color: $off-white
      text-align: center
      font-size: 1.6em
      line-height: 3em
      border-bottom-left-radius: 5px
      border-bottom-right-radius: 5px

      span
        &.recurring-event
          line-height: 2em

          &.small-heading
            font-size: 0.5em
            padding: 0
            margin: 0
            display: block
            line-height: 0
            padding-top: 2em
            margin-bottom: -10px


    .event-info

      .event-address
        margin-bottom: 1vh

      @media screen and ( max-width: $laptop)
        margin-top: 5vh
        margin-bottom: 10vh

  .multi-column-event
    text-align: center

    .event-date
      padding: 0 5em


.lightbox-content
  display: none
