.events-calendar
  +content-row-padded()

  h3
    margin-top: 0

  .event-listing
    margin-bottom: 10vh
    @media screen and ( max-width: $tablet )
      text-align: center

    .event-date
      @media screen and ( max-width: $tablet )
        padding: 0 30vw

    .event-month
      background-color: #B2413B
      text-align: center
      line-height: 2em
      color: $off-white
      font-weight: bold
      border-top-left-radius: 5px
      border-top-right-radius: 5px
      position: relative
      padding-top: 5px

      .calendar-ring
        position: absolute
        top: -8px
        width: 8px
        height: 15px
        background-color: #ccc
        border: solid 2px #fff
        border-radius: 40%

        &.one
          +calc( left, "50% - 15px" )

        &.two
          +calc( left, "50% + 15px" )

    .event-day
      background-color: $white
      text-align: center
      font-size: 1.6em
      line-height: 3em
      border-bottom-left-radius: 5px
      border-bottom-right-radius: 5px

    .event-info
      @media screen and ( max-width: $tablet)
        margin-top: 5vh
        margin-bottom: 10vh

.lightbox-content
  display: none
