.hero-image
  .jumbotron
    +background-cover
    text-align: center
    padding-top: 16vh
    padding-bottom: 5vh
    color: $white
    position: relative

    @media screen and ( max-width: $laptop )
      padding-top: 12vh

  .table
    height: 80vh
    position: relative

    h1
      padding: 0.1em 0
      margin: 0
      font-size: 3em

    h2
      font-size: 1.3em
      letter-spacing: 0.05em
      padding: 0 2em
      font-weight: 300

    .linked_buttons
      padding-top: 2em
