.hero-image
  .container
    padding-top: 0
    padding-bottom: 0
    color: $white
    position: relative

  .table
    min-height: 70vh

    // @media screen and ( max-width: $laptop )
    //   padding-top: 100px
    //
    // @media screen and ( max-width: $laptop )
    //   padding-top: 60px
