.image-banner
  text-align: center
  margin-bottom: 0

  .jumbotron
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    position: relative

  .table.banner-text-container
    height: auto
    min-height: 40vh
    position: relative
    z-index: 2
    color: $white
