.image-gallery
  padding-top: 7.5vh
  padding-bottom: 5vh

  img
    cursor: pointer
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2)
    border-radius: 0

  .image-gallery-row
    margin-bottom: 30px

    @media screen and ( max-width: $tablet )
      .gallery-image
        padding-bottom: 20px

    .add-padding-bottom
      padding-bottom: 20px
