.jumbotron.image-banner
  text-align: center
  margin-bottom: 0
  background-size: cover
  background-position: center  
  position: relative
  background-repeat: no-repeat

  .table.banner-text-container
    height: auto
    min-height: 50vh
    position: relative
    z-index: 2
    color: $white
