.image-banner
  text-align: center
  margin-bottom: 0

  .jumbotron
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    position: relative

  .table.banner-text-container
    height: auto
    min-height: 50vh
    position: relative
    z-index: 2
    color: $white

    h1
      padding-bottom: 10px

.blog,
.post-type-archive-product

  .image-banner

    .table.banner-text-container
      padding-top: 8vh
      min-height: 40vh
