.image-gallery
  +content-row-init()

  img
    cursor: pointer

  .image-gallery-row
    margin-bottom: 30px

    @media screen and ( max-width: $mobile )
      .gallery-image
        padding-bottom: 20px

    .add-padding-bottom
      padding-bottom: 20px
