.info-tables

  table
    width: 100%
    margin-bottom: 10vh
    margin-top: 10vh
    border: solid $off-white 2px

  thead > tr > th,
  tbody > tr >td
    text-align: center
    padding: 1vh 0

  thead
    background-color: $off-white

  td.inactive
    opacity: 0.5
