.info-tables

  table
    width: 100%
    margin-bottom: 10vh
    margin-top: 10vh
    border: solid $off-white 2px

    thead > tr > th,
    tbody > tr >td
      text-align: center
      padding: 1vh 0

    thead
      background-color: $off-white

    td.inactive
      opacity: 0.5

    h3
      margin-top: 15px
      font-size: 2em

    span
      font-size: 0.8em
      opacity: 0.8
