.latest-news
  +content-row-padded

  p
    font-size: 0.85em

  img
    border-radius: 2px

  .post-meta
    margin-bottom: 1vh
    font-size: 0.85em

    i
      color: $theme-primary


  .second-row    

    .post-title
      margin-top: 1vh
