.product-features
  +content-row-padded

  .section-nav
    padding-bottom: 5vh

  .section:not(.active)
    display: none

  .section
    .left-column
      padding-bottom: 5vh

    .right-column
      padding-bottom: 5vh
