.side-by-side
  +content-row-padded

  .image-column
    background-position: center !important
    background-repeat: no-repeat !important
    background-size: contain !important

    img
      border-radius: 4px

    @media screen and ( max-width: $tablet)
      min-height: 30vh
