.testimonials
  +content-row-padded-bottom

  .section-title
    margin-bottom: 5vh

  .slide
    cursor: grab
    cursor: -webkit-grab
    border: none
    outline: none

  .testimonial
    text-align: center    

    .title
      color: $theme-primary
      margin-bottom: 1.5vh

    .content
      font-size: 0.85em

    .attribution
