.testimonials
  +content-row-padded
  background-color: $off-white

  .slide
    cursor: grab
    cursor: -webkit-grab
    border: none
    outline: none

  .testimonial
    text-align: center

    .title
      color: $theme-primary
      margin-bottom: 1.5vh

    .content
      font-size: 0.85em

    .attribution
