
// Color scheme
$theme-primary: #769DA6

$light-grey: #D8DACC
$dark-grey: #3F3F3F
$light-blue: #699EBF
$white: #ffffff
$off-white: #F2F3F8
$body-copy: #333333
$link-hover: #699EBF

$twitter-blue: #5281AB
$facebook-blue: #32508C

$button-border: #D8DACC
$button-inactive: #efefef

// Media queries
$laptop: 992px
$tablet: 768px
$mobile: 480px
