.page-content
  .woocommerce
    padding: 5vh 0

    ul
      list-style: none

      li
        list-style: none

.woocommerce-breadcrumbs
  margin-top: 5vh

.related-products
  padding-top: 5vh
  padding-bottom: 5vh
